/* form {
    width: 430px;
    height: auto;
} */

 .tablaingresar {
    width: 30px;
    height: auto;        
    margin-top: 20px; 
    
}

.tablaingresar td a {
    position: absolute;
  }
  .tablaingresar td a {
    font-family: OpenSans;
    color: #FFFFFF;
    background-color: #009dff;
    border: 1px solid #009dff;
    border-radius: 5px;
    box-shadow: 0px 5px 0px #000082;
    position: relative;
    top: 0px;
    transition: all ease 0.1s;
  }
  .tablaingresar td a:active {
    box-shadow: 0 3px 0 #62ff00;
    top: 3px;
  }
  .tablamostrar1 {
    width: 30px;
    height: auto;
    color: #000082;
    border:1;
    width:300;     
    margin-top: 20px;   
}
  .tablamostrar1 td a {
    position: absolute;
  }
  .tablamostrar1 td a {
    font-family: OpenSans;
    color: #FFFFFF;
    background-color: #009dff;
    border: 1px solid #009dff;
    border-radius: 5px;
    box-shadow: 0px 5px 0px #000082;
    position: relative;
    top: 0px;
    transition: all ease 0.1s;
  }
  .tablamostrar1 td a:active {
    /* box-shadow: 0 3px 0 #62ff00;
    top: 3px; */
    box-shadow: 0 5px 0 #62ff00;
    bottom:-3px;
  }

  .botoningresar {
    position: absolute;
  }
  .botoningresar {
    font-family: OpenSans;
    color: #FFFFFF;
    background-color: #009dff;
    border: 1px solid #009dff;
    border-radius: 5px;
    box-shadow: 0px 5px 0px #000082;
    position: relative;
    top: 0px;
    transition: all ease 0.1s;
  }
  .botoningresar:active {
    box-shadow: 0 3px 0 #62ff00;
    top: 3px;
  }

  /* scroll vertical */

  .my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

    /*-----table1-------*/
    .table1{
      background: #93c495;
      /* color: white; */
      padding: 5px;
      width: 20%;
      height: auto;
      overflow: scroll;
      border: 1px solid #ccc;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .table1 .thead .th{
          top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    }
    h1{
      text-align: center;
      margin-top: 15px;
    }
    h2{
      background-color: rgb(20, 213, 247);
      text-emphasis: inherit;
      text-align: center;
      top: 15px;
      color:white;

    }

 