/* form {
    width: 430px;
    height: auto;
} */

 .tablaingresar {
    width: 30px;
    height: auto;
    
}

.tablaingresar td a {
    position: absolute;
  }
  .tablaingresar td a {
    font-family: OpenSans;
    color: #FFFFFF;
    background-color: #009dff;
    border: 1px solid #009dff;
    border-radius: 5px;
    box-shadow: 0px 5px 0px #000082;
    position: relative;
    top: 0px;
    transition: all ease 0.1s;
  }
  .tablaingresar td a:active {
    box-shadow: 0 3px 0 #62ff00;
    top: 3px;
  }
  .tablamostrar1 {
    width: 30px;
    height: auto;
    color: #000082;
    
}
  .tablamostrar1 td a {
    position: absolute;
  }
  .tablamostrar1 td a {
    font-family: OpenSans;
    color: #FFFFFF;
    background-color: #009dff;
    border: 1px solid #009dff;
    border-radius: 5px;
    box-shadow: 0px 5px 0px #000082;
    position: relative;
    top: 0px;
    transition: all ease 0.1s;
  }
  .tablamostrar1 td a:active {
    /* box-shadow: 0 3px 0 #62ff00;
    top: 3px; */
    box-shadow: 0 5px 0 #62ff00;
    bottom:-3px;
  }

  .botoningresar {
    position: absolute;
  }
  .botoningresar {
    font-family: OpenSans;
    color: #FFFFFF;
    background-color: #009dff;
    border: 1px solid #009dff;
    border-radius: 5px;
    box-shadow: 0px 5px 0px #000082;
    position: relative;
    top: 0px;
    transition: all ease 0.1s;
  }
  .botoningresar:active {
    box-shadow: 0 3px 0 #62ff00;
    top: 3px;
  }